/* ==========================================
   PROF IA MEDIA PARTNERS
   Sidebar
========================================== */

.sidebar{

    position:fixed;

    top:0;

    left:0;

    width:220px;

    height:100vh;

    background:#0f172a;

    color:#ffffff;

    padding:30px 20px;

    overflow-y:auto;

    display:flex;

    flex-direction:column;

}

.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#4F46E5;
    border-radius:10px;
}

/* ===============================
LOGO
================================ */

.logo{

    text-align:center;

    margin-bottom:40px;

}

.logo img{

    width:80px;

    margin-bottom:15px;

}

.logo-text h2{

    font-size:22px;

    color:#ffffff;

}

.logo-text p{

    color:#94a3b8;

    font-size:13px;

    letter-spacing:1px;

}

/* ===============================
MENU
================================ */

.sidebar ul{

    list-style:none;

}

.sidebar li{

    margin-bottom:10px;

}

.sidebar a{

    display:flex;

    align-items:center;

    gap:15px;

    padding:14px 18px;

    color:#cbd5e1;

    text-decoration:none;

    border-radius:12px;

    transition:.3s;

    font-weight:600;

}

.sidebar a:hover{

    background:#22c55e;

    color:#ffffff;

    transform:translateX(5px);

}

.sidebar a.active{

    background:#22c55e;

    color:#ffffff;

}

.sidebar i{

    width:22px;

    text-align:center;

    font-size:18px;

}

/* ===============================
DECONNEXION
================================ */

.logout{

    margin-top:auto;

    padding-top:30px;

}

.logout a{

    color:#f87171;

}

.logout a:hover{

    background:#dc2626;

    color:#ffffff;

}

/* ===============================
RESPONSIVE
================================ */

@media(max-width:768px){

.sidebar{

    position:relative;

    width:100%;

    height:auto;

}

}
.notification-badge {

    margin-left: auto;

    min-width: 22px;

    height: 22px;

    padding: 0 6px;

    border-radius: 50px;

    background: #ff3b30;

    color: #fff;

    font-size: 12px;

    font-weight: 700;

    display: flex;

    align-items: center;

    justify-content: center;

}