*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#0b1020;

color:white;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:#111827;

position:sticky;

top:0;

}

.logo img{

height:60px;

}

nav{

display:flex;

gap:35px;

}

nav a{

text-decoration:none;

color:white;

font-weight:600;

transition:.3s;

}

nav a:hover{

color:#4da3ff;

}

.buy-btn{

background:#0d6efd;

padding:14px 28px;

border-radius:10px;

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}

.buy-btn:hover{

background:#0057d8;

}
