<aside class="sidebar">

    <div class="logo">
        <img src="images/logo.png" alt="PROF IA MEDIA">

        <div class="logo-text">
    <h2>PROF IA</h2>
    <p>MEDIA PARTNERS</p>
</div>
    </div>

<ul>

    <li>
        <a href="dashboard.html" data-page="dashboard">
            <i class="fa-solid fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li>
        <a href="referrals.html" data-page="referrals">
            <i class="fa-solid fa-users"></i>
            <span>Mes filleuls</span>
        </a>
    </li>

    <li>
        <a href="commissions.html" data-page="commissions">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <span>Commissions</span>
        </a>
    </li>

    <li>
        <a href="withdrawals.html" data-page="withdrawals">
            <i class="fa-solid fa-wallet"></i>
            <span>Retraits</span>
        </a>
    </li>

    <li>
        <a href="profile.html" data-page="profile">
            <i class="fa-solid fa-user"></i>
            <span>Mon profil</span>
        </a>
    </li>

    <li>
        <a href="settings.html" data-page="settings">
            <i class="fa-solid fa-gear"></i>
            <span>Paramètres</span>
        </a>
    </li>

</ul>

</aside>